extends ../layout

block content
  .header
    h1 gTables
  .newRest
    a(href="/restaurants/new") Create
  .bigContainer
    .container
      each restaurant in restaurants
        .box
          a(href='/restaurants/#{restaurant.id}') 
          h3= restaurant.name
          .imageDiv
            a(href='/restaurants/#{restaurant.id}')
              img(src="#{restaurant.img}" class="image")
          h3= restaurant.city 
          h3= restaurant.state
          .cuisine= restaurant.cuisine
          //- h3 restaurant.rating} Stars!!
          .bio= restaurant.bio
          .hood= restaurant.neighborhood
          .starDiv
            -for(var i=0; i < restaurant.rating; i++)
              img.star(src='http://www.clker.com/cliparts/R/i/A/t/X/O/star-orange-md.png')
